RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/#1 [L]

# Profile page
#RewriteCond %{REQUEST_URI} !^/(assets|awesome|css|font-awesome|images|js|parsing|table|vendors)/
#RewriteRule ^profile/([^/]*)$ profile/index/#1 [L]